body{
    background-image: url(pexels-rovenimagescom-949587.jpg);
    background-size: cover;
    
}


.con{
    border: 1px solid black;
    height: 480px;
    width: 500px;
    background-color: transparent;
    margin: auto;
    border-radius: 8%;
    box-shadow: 0px 0px 10px 0px red;
    color: whitesmoke;
    background-image: url(pexels-rafael-guajardo-604684.jpg);
    background-size: contain;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 900;

}

.dolphine{
    margin: auto;
    margin-top: 20px;
}

.kaverage {
    border: 1px solid red;
}

.average{
    border: 1px solid red;

}

button{width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: blue;
    color: white;
    font-weight: 900;
}


